* {
    box-sizing: border-box;
}
html,
body {
    margin: 0;
    padding: 0;
}
.main-login-container {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

nav,
footer {
    display: none;
}

.photo-login {
    background: #fff url(../image/loginbackground.jpeg) no-repeat;
    background-size: cover;
    height: 100vh;
    width: 50%;
}

.login-container {
    background-color: white;
    width: 50%;
    /* padding: 1.6rem;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.284); */
}

h1 {
    margin-top: 0;
    margin-bottom: 1.5rem;
    color: #2c3e50;
    font-size: 1.5rem;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-group {
    position: relative;
    margin-bottom: 0.9rem;
}

.input-group,
.login-button,
.forgot-password {
    width: 60%;
    max-width: 400px;
}

.input-group:nth-child(2) {
    margin-bottom: 1.5rem;
}

input {
    width: 100%;
    padding: 0.7rem;
    border: 2px solid #e0e0e0;
    border-radius: 5px;
    transition: border-color 0.3s ease;
    font-size: 0.9rem;
}
input:focus {
    outline: none;
    border-color: #ff885b;
}
label {
    position: absolute;
    top: 0.7rem;
    left: 0.7rem;
    color: #7f8c8d;
    transition: all 0.3s ease;
    pointer-events: none;
    font-size: 0.9rem;
}
input:focus + label,
input:not(:placeholder-shown) + label {
    top: -0.5rem;
    left: 0.5rem;
    font-size: 0.75rem;
    color: #ff885b;
    background-color: white;
    padding: 0 0.3rem;
}
button {
    padding: 0.7rem;
    background-color: #ff885b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #e17954;
}
.orange {
    color: #ff885b;
}

.logo {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: -2px;
    font-size: 2rem;
}
.forgot-password {
    text-align: left;
    margin: auto;
}
.forgot-password a {
    color: #7f8c8d;
    text-decoration: none;
    font-size: 0.67rem;
}
.forgot-password a:hover {
    color: #ff885b;
}

.create-account {
    font-size: 0.8rem;
    text-align: center;
    margin-top: 1rem;
}

.create-account a {
    color: #ff885b;
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 768px) {
    .photo-login {
        width: 100%;
    }
    .logo {
        font-size: 1.6rem;
    }
    .login-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        width: 70%;
        max-width: 430px;
        padding: 1.6rem;
        border-radius: 10px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.284);
    }
    .input-group,
    .login-button,
    .forgot-password {
        width: 85%;
        max-width: 400px;
    }
}
