<div class="profile-header">
    <button class="logout-button" ng-click="profile.logout()">Log out</button>
    <a href="#!/" id="backButton" class="back-button" ng-click="profile.goBack()"><i class="icon-back fa fa-sharp fa-arrow-left"></i>Back</a>
    <img src="icons/user-solid.svg" alt="Profile Picture" class="profile-image" />

    <div class="profile-info">
        <h1>{{profile.user.username}}</h1>
        <button class="edit-profile-btn" ng-click="profile.openEditUsername()">Edit Profile</button>
    </div>
</div>

<div class="profile-tabs">
    <button>Posted Fits</button>
</div>

<div class="created-outfit">
    <button class="create-btn" ng-click="profile.openCreatePopup()">Post New Fits</button>

    <div class="bulk-actions" ng-if="profile.selectedOutfits.length > 0">
        <button class="delete-selected-btn" ng-click="profile.deleteSelectedOutfits()">Delete Selected ({{profile.selectedOutfits.length}})</button>
    </div>

    <div class="outfit-grid" ng-if="profile.userOutfits.length > 0">
        <div class="outfit-card" ng-repeat="outfit in profile.userOutfits">
            <div class="outfit-selection">
                <input type="checkbox" ng-click="profile.toggleOutfitSelection(outfit._id)" />
            </div>
            <img ng-src="{{outfit.image}}" alt="{{outfit.name}}" />
            <h3>{{outfit.name}}</h3>
            <p>{{outfit.description}}</p>
            <button class="edit-btn" ng-click="profile.openEditOutfit(outfit)"><i class="icon-pencil fa fa-solid fa-pencil"></i>Edit</button>
        </div>
    </div>

    <p ng-if="!profile.userOutfits.length">Nothing to show... yet! Fits you create will live here.</p>
</div>

<!-- Edit Username Popup -->
<div class="popup-overlay" ng-show="profile.isEditUsernameVisible" ng-click="profile.closeEditUsername($event)">
    <div class="popup-content edit-username">
        <h2>Edit Profile</h2>
        <div class="form-group">
            <label for="newUsername">New Username</label>
            <input type="text" id="newUsername" ng-model="profile.newUsername" placeholder="Enter new username" />
        </div>
        <div class="popup-actions">
            <button class="submit-btn" ng-click="profile.updateUsername()">Save Changes</button>
            <button class="cancel-btn" ng-click="profile.closeEditUsername()">Cancel</button>
        </div>
        <div class="delete-section">
            <hr class="divider" />
            <button class="delete-btn" ng-click="profile.deleteAccount()">Delete Account</button>
        </div>
    </div>
</div>

<!-- Create Outfit Popup -->
<div class="popup-overlay" ng-show="profile.isPopupVisible" ng-click="profile.closePopup($event)">
    <div class="popup-content">
        <form id="outfitForm">
            <h2>Create your Fits</h2>
            <div class="form-group file-upload">
                <input type="file" class="input-file" id="outfitImage" name="image" accept="image/*" ng-model="profile.newOutfit.image" /><br />
                <label for="outfitImage" class="btn btn-tertiary js-labelFile"><i class="icon fa fa-upload"></i><span class="js-fileName">Choose an Image</span></label>
            </div>
            <div class="form-group">
                <label for="outfitName">Outfit Name</label>
                <input type="text" name="name" id="outfitName" ng-model="profile.newOutfit.name" placeholder="Enter outfit name" />
            </div>
            <div class="form-group">
                <label for="outfitDescription">Description</label>
                <textarea id="outfitDescription" name="description" ng-model="profile.newOutfit.description" placeholder="Enter outfit description"></textarea>
            </div>
            <div class="popup-actions">
                <button class="submit-btn" type="submit" ng-click="profile.submitOutfit()">Save</button>
                <span class="cancel-btn" ng-click="profile.closePopup()">Cancel</span>
            </div>
        </form>
    </div>
</div>

<!-- Edit Outfit Popup -->
<div class="popup-overlay" ng-show="profile.isEditOutfitVisible" ng-click="profile.closeEditOutfit($event)">
    <div class="popup-content">
        <h2>Edit Outfit</h2>
        <div class="form-group">
            <label for="editOutfitName">Outfit Name</label>
            <input type="text" id="editOutfitName" ng-model="profile.editingOutfit.name" placeholder="Enter outfit name" />
        </div>
        <div class="form-group">
            <label for="editOutfitDescription">Description</label>
            <textarea id="editOutfitDescription" ng-model="profile.editingOutfit.description" placeholder="Enter outfit description"></textarea>
        </div>
        <div class="popup-actions">
            <button class="submit-btn" ng-click="profile.submitEditOutfit()">Save Changes</button>
            <button class="cancel-btn" ng-click="profile.closeEditOutfit()">Cancel</button>
        </div>
    </div>
</div>
